body {
    background-color: linear-gradient(-45deg, red, blue),
    linear-gradient(90deg, #5500ff, #00ff55);
    background-blend-mode: overlay;
}

.container {
    display: flex;
}

.recipe {
    width: 100px;
    height: 150px;
    background-color: bisque;
    border-radius: 15px;
}

.recipe:hover {
    border: 2px solid red;
}

.pfp img{
    width: 20px;
    object-fit: contain;
}

@media (min-width: 760px) {
    body {
        display: flex;
        flex-direction: column;
    }
}